.build-workout-container {
    text-align: center;
    text-align: -webkit-center;
    margin-top: 35px;
    .help-build {
        color: $clr8;
        padding-top: 50px;
    }
    .help-build:hover {
        text-decoration: underline;
    }
    .back-to-exercises-btn {
        margin-bottom: 34px;
        background-color: #fafbfc;
        border: 0.5px solid rgba(27, 31, 35, 0.15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
        color: #24292e;
        cursor: pointer;
        font-weight: 500;
        padding: 6px 16px;
        transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    }
    .back-to-exercises-btn:hover {
        background-color: #f3f4f6;
        transition-duration: 0.3s;
    }
    .workout-types-container {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // @include for-mobile-layout {
        //     flex-direction: column;
        // }
    }
    .curr-workout-container {
        margin: 20px 0px 20px;
        h1 {
            font-size: 2rem;
            color: rgb(42, 41, 41);
            font-weight: 600;
        }
        .save-workout-btn {
            margin-top: 10px;
            border: 0;
            width: 300px;
            height: 120px;
            border-radius: 50%;
            background-color: #00a7d6;
            color: whitesmoke;
            font-size: 1.4rem;
            cursor: pointer;
            transition: 0.5s;
        }
        .save-workout-btn:hover {
            width: 350px;
            background-color: #4fc9eb;
        }
    }
}
