.build-workout-container {
    text-align: center;
    text-align: -webkit-center;
    margin-top: 15px;
    .btn-input{
        width: 30%;
        @include for-mobile-layout {
            width: 100%;
        }
        padding: 10px;
        margin-bottom: 1rem;
        .light-btn{
            margin-bottom: 15px;
        }
        input{
            padding: 8px 0px;
            text-align: center;
            border: none;
            border-radius: 5px;
            outline: 0.5px solid gainsboro;
        }
        input:focus-visible{
            border: 0;
        }
    }
    .help-build {
        color: $clr8;
        padding-top: 70px;
    }
    .help-build:hover {
        text-decoration: underline;
    }
    
    .workout-types-container {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // @include for-mobile-layout {
        //     flex-direction: column;
        // }
    }
    .curr-workout-container {
        margin: 20px 0px 20px;
        h1 {
            font-size: 2rem;
            color: rgb(42, 41, 41);
            font-weight: 600;
        }
        .save-workout-btn {
            margin-top: 10px;
            border: 0;
            width: 300px;
            height: 120px;
            border-radius: 50%;
            background-color: #00a7d6;
            color: whitesmoke;
            font-size: 1.4rem;
            cursor: pointer;
            transition: 0.5s;
        }
        .save-workout-btn:hover {
            width: 350px;
            background-color: #4fc9eb;
        }
    }
}
