.body{
    body::-webkit-scrollbar {
        width: 16px;
        background: inherit;
      }
      body::-webkit-scrollbar-track:vertical {
        border-right: 8px solid rgba(0, 0, 0, 0.089);
      }
      body::-webkit-scrollbar-track {
        border-radius: 20px;
  
      }
      body::-webkit-scrollbar-thumb:vertical {
        border-right: 8px solid #9d9ea0;
        border-radius: 20px;
      }
}
