.my-workouts{
    min-height: 100vh;
    text-align: -webkit-center;
    padding-bottom: 3rem;
    
    .exercise-preview {
        box-shadow: 0 0 10px rgba(247, 244, 244, 0.716);
        img{
            border-radius: 1rem;
        }
    }
    h1,h2,h3{
        color: white;
        -webkit-text-stroke: 1px black;
    }
    h2,h3{
        margin: 0.5rem;
    }
    
    h1{
        text-align: center;
        font-size: 3rem;
        padding: 1rem;
        margin: 0;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    .my-workouts-select{
        width: 50%;
    }
    .my-workout-header{
        padding: 7px;
        text-align: center;
    }
    .exercise-list{
        .exercise-preview{
            width: 440px;
            @include for-mobile-layout {
                width: 300px;
            }
        }
    }
}