.my-workouts {
    min-height: 100vh;
    text-align: -webkit-center;
    padding-bottom: 3rem;
    .exercise-preview {
        width: 340px;
        @include for-mobile-layout {
            width: 300px;
        }
        .exercise-preview-info {
            margin-bottom: 5px;
        }
        box-shadow: 0 0 10px rgba(247, 244, 244, 0.716);
        img {
            border-radius: 1rem;
            background-color: white;
        }
    }
    h1,
    h2,
    h3,
    p,
    span {
        color: whitesmoke;
    }
    span {
        font-size: 1.2rem;
        margin: 0 5px 0;
    }
    h2,
    h3 {
        margin: 0.5rem;
    }

    h1 {
        text-align: center;
        font-size: 3rem;
        padding: 1rem;
        margin: 0;
    }
    h2 {
        font-size: 2.2rem;
    }
    .my-workout-header {
        padding: 7px;
        text-align: center;
        .my-workout-btns {
            button {
                margin: 5px;
            }
        }
    }
}
