.users-manage {
    padding: 15px;
    text-align: center;
    text-align: -webkit-center;
    background-color: rgb(252, 251, 250);
    height: calc(100vh - 70px);
    .users{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
        th{
            box-shadow: inset 0 0 0 1px #091e4221;
            border-radius: 2px;
            padding: 15px;
            border: 1px solid #1b1f2b;
        }
        .users-table-header{
        }
    }
}
