.weight-track {
    text-align: center;
    h1{
        margin-top: 1rem;
        font-size: 2.5rem;
        line-height: 2.8rem;
    }
    form {
        width: 100%;
        > * {
            margin: 0 5px 0;
        }
        input {
            width: 230px;
            text-align: center;
        }
        .styled-btn-basic {
            background: linear-gradient(180deg, #4fbdb7 0, #44a0ac);
            box-shadow: 0 2px 0 #214c6f;
            color: #fff;
            box-shadow: none;
            width: 135px;
            margin-bottom: 17px;
            font-size: 14px;
            height: 44px;
            border-radius: 3px;
            transition: background-color 0.2s;
            &:hover {
                background: linear-gradient(180deg, #49acaf 0, #409aa1);
            }
        }
    }
    .chart-container {
        margin-top: 1rem;
        width: 95%;
    }
}
