.main-header {
  color: white;
  justify-content: space-between;
  padding: 8px;
  transition: background-color 0.1s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  height: 70px;
  background: #302f2f;
  .header-btn-container {
    .header-btn {
      background: rgba(245, 245, 245, 0.993);
      padding: 0 8px;
      border-radius: 3px;
      height: 32px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;
      transition: background-color 0.2s;
      .home {
        font-size: 1rem;
        font-weight: 600;
        color: #343232e8;
      }
    }
    .header-btn:hover {
      background-color: #ffffffe7;
      .home{
        color: #2e2929ed;
      }
    }
  }
  .logout-container{
    .logout{
      color: whitesmoke;
      margin: 0;
      font-size: 0.9rem;
      font-weight: 600;
      margin-right: 1px;
    }
    .logout-icon{
      width: 16px;
      height: 16px;
    }
  }

}
