.modal-background {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(78, 76, 76, 0.279);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    .modal-container {
        max-height: calc(100vh - 130px);
        overflow-y: auto;
        position: relative;
        top: 13%;
        width: 450px;
        max-width: 80%;
        height: fit-content;
        border-radius: 12px;
        background-color: white;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
        display: flex;
        flex-direction: column;
        padding: 25px;
        .title-close-btn {
            display: flex;
            justify-content: flex-end;
            button{
                font-size: 1.4rem !important;
            }
        }
        .modal-title {
            display: inline-block;
            text-align: center;
            h1 {
                color: #302f2f;
                font-size: 1.7rem;
                font-family: LeagueSpartan, sans-serif;
            }
            .modal-title-msg{
                line-height: 2.5rem;
            }
        }
        .modal-body {
            font-family: LeagueSpartan, sans-serif;
            flex: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            text-align: center;
            form {
                width: 100%;
                input {
                    padding: 15px;
                    width: 100%;
                    border-radius: 14px;
                    border: none;
                    outline: none;
                }
                label{
                    display: flex;
                    align-items: baseline;
                    text-align: start;
                    height: 55px;
                    padding: 5px;
                    margin: 5px 0;
                    span{
                        width: 150px;
                    }
                }
                
            }
        }
        .modal-footer {
            flex: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            .modal-btns {
                width: 150px;
                height: 45px;
                margin: 10px;
                border: none;
                transition-duration: 0.3s;
                color: white;
                border-radius: 8px;
                font-size: 20px;
            }
            .cancel-btn {
                background-color: crimson;
            }
            .cancel-btn:hover {
                background-color: rgba(247, 15, 62, 0.925);
                transition-duration: 0.3s;
            }
            .continue-btn {
                background-color: cornflowerblue;
            }
            .continue-btn:hover {
                background-color: rgba(27, 58, 255, 0.952);
                transition-duration: 0.3s;
            }
        }
    }
}