.food-menu-container{
    color: #fff;
    background-color: #036;
    border-radius: 0.2em;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    min-height: 600px;
    display: grid;
    grid-template-columns: repeat(9,auto);
    grid-row-gap: 1px;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    align-content: start;
    h1{
        color: #FC0;
        border-bottom: 1px solid rgba(255,255,255,.12);
        padding: 0 5px;
    }
    p{
        font-size: 1.125rem;
    }
    .food-menu-btn{
        border: none;
        background: inherit;
        color: #FC0;
        font-weight: 500;
    }
}