* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
}

html {
    font-family: sans-serif, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue;
    line-height: 1.6;
}

body {
    color: #172b4d;
    font-family: sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
        Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
    line-height: 1;
    font-weight: 400;
}

img {
    width: 100%;
}

p {
    // margin: 0 0 1em;
    // color: $clr7;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.white {
    background-color: white !important;
}

.light-left {
    background: #ece9e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff, #ece9e6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to left,
        #ffffff,
        #ece9e6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.light-right {
    background: #ece9e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #ece9e6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ffffff,
        #ece9e6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//Scroll-Bar

body::-webkit-scrollbar {
    width: 8px;
    background: inherit;
  }
  body::-webkit-scrollbar-track:vertical {
    border-right: 8px solid rgba(0, 0, 0, 0.089);
  }
  body::-webkit-scrollbar-track {
    border-radius: 20px;

  }
  body::-webkit-scrollbar-thumb:vertical {
    border-right: 8px solid #9d9ea0;
    border-radius: 20px;
  }