.exercise-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
    .exercise-preview {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
        padding: 10px;
        margin: 5px;
        width: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1{
            font-weight: 500;
        }
        .exercise-btns {
            .exercise-btn {
                margin: 7px 0 7px;
                align-items: center;
                background-color: #fff;
                border-radius: 24px;
                border-style: none;
                font-weight: 700;
                box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0,
                    rgba(0, 0, 0, 0.12) 0 1px 18px 0;
                color: #3c4043;
                height: 48px;
                letter-spacing: 0.25px;
                overflow: visible;
                padding: 2px 24px;
                transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms,
                    transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
                will-change: transform, opacity;
            }
            .exercise-btn:hover {
                background: #f6f9fe;
                color: #174ea6;
            }
        }
    }
}