.logo {
    color: inherit;
    color: #172b4d;
    margin-bottom: 30px;
    .logo-icon {
      height: 52px;
      width: 52px;
      margin-right: 10px;
    }
    h1 {
      color: #172b4d;

      font-size: rem(58px);
      margin: 0;
      font-weight: 400;
      font-family: Secular;
    }
  }