.logo {
    color: white;
    .logo-icon {
      height: 52px;
      width: 52px;
      margin-right: 10px;
      border-radius: 25px;
    }
    h1 {
      font-size: rem(58px);
      margin: 0;
      font-weight: 400;
    }
  }