.curr-workout-exercise {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    .curr-workout-img {
        img {
            height: 150px;
            width: 150px;
            border-radius: 7px;
        }
    }
    .curr-workout-content {
        width: 200px;
        justify-content: space-around;

        h2 {
            color: #03a3d7;
            font-weight: 500;
        }
    }
}
