.curr-workout-exercise {
    background-color: #ecece9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    .curr-workout-img {
        img {
            height: 150px;
            width: 150px;
            border-radius: 7px;
        }
    }
    .curr-workout-content {
        width: 200px;
        justify-content: space-around;

        h2 {
            color: #03a3d7;
            font-weight: 500;
        }
    }
    .curr-workout-btn {
        button {
            border: none;
            background-color: transparent;
            font-size: 1.2rem;
            font-weight: 500;
            color: $clr2;
        }
        button:hover {
            color: gray;
        }
    }
}
