.exercise-details {
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
    padding: 10px;
    width: 480px;
    .close-details{
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 7px;
    }
    @include for-mobile-layout {
        width: 80%;
    }
    .imgs-container {
        img {
            width: 220px;
        }
        @include for-mobile-layout {
            flex-direction: column;
        }
    }
    .edit-exercise {
        width: 100%;
        input {
            padding: 6px 8px;
            background: rgba(0, 106, 255, 0.061);
            border: none;
            border-radius: 5px;
            box-shadow: inset 0 0 0 1px #091e4221;
        }
        input:focus-visible {
            border: none;
        }
        textarea {
            cursor: pointer;
            width: 100%;
            min-height: 150px;
            border: 0;
            // overflow: hidden;
            line-height: 1.4rem;
            resize: none;
            border-radius: 5px;
            outline: none;
            padding: 8px 12px;
            transition-duration: 0.5s;
            transition-property: all;
            transition-timing-function: ease;
            border-color: #091e4221;
            box-shadow: inset 0 0 0 1px #091e4221;
            margin: 10px 0 10px;
            background: rgba(0, 106, 255, 0.061);
            // background: #091e420a;
        }
        textarea:focus {
            cursor: text;
            min-height: 200px;
        }
    }
    .exercise-btns {
        margin-bottom: 0.7rem;
        .exercise-details-btn {
            border-radius: 2rem;
            padding: 10px 20px;
            transition: all 250ms;
            border: 0;
            font-size: 1.1rem;
            font-weight: 200;
            user-select: none;
            touch-action: manipulation;
        }
        .exercise-details-btn:hover {
            transform: scale(1.05) rotate(-1deg);
        }
        .exercise-details-btn:active {
            font-size: 1rem;
        }
        .add-exercise-btn {
            background-color: #c2fbd7;
            box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px,
                rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
                rgba(44, 187, 99, 0.15) 0 16px 32px;
            color: green;
        }
        .add-exercise-btn:hover {
            box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.25) 0 1px 2px,
                rgba(44, 187, 99, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
                rgba(44, 187, 99, 0.25) 0 16px 32px;
        }
        .update-exercise-btn {
            background-color: #c2d5fb;
            box-shadow: rgba(44, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(65, 44, 187, 0.15) 0 1px 2px,
                rgba(44, 56, 187, 0.15) 0 2px 4px, rgba(65, 44, 187, 0.15) 0 4px 8px, rgba(44, 63, 187, 0.15) 0 8px 16px,
                rgba(44, 92, 187, 0.15) 0 16px 32px;
            color: #050918bf;
        }
        .update-exercise-btn:hover {
            box-shadow: rgba(44, 75, 187, 0.35) 0 -25px 18px -14px inset, rgba(65, 44, 187, 0.25) 0 1px 2px,
                rgba(61, 44, 187, 0.25) 0 2px 4px, rgba(77, 44, 187, 0.25) 0 4px 8px, rgba(44, 44, 187, 0.25) 0 8px 16px,
                rgba(65, 44, 187, 0.25) 0 16px 32px;
        }
    }
}
