.form {
    /* position: absolute; */
    /* left: 10px; */
    /* width: 500px; */
    /* height: 600px; */
    margin-top: 1rem;
}

.text {
    text-shadow: 0 0 3px #000000, 0 0 5px #FFF;
    /* font-size: medium; */
    font-size: 1.1rem;
}